@font-face {
  font-family: "Fresca";
  src: url(./fonts/Fresca-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Fresca";
  box-sizing: border-box;
}

body{
  background: #d6dee788;
  background: #d6dee7;
padding-bottom: 30px;

}

/* img{
  position: absolute;
  height: 100vh;
  width: 100%;
  opacity: 10%;
} */

h1{
  text-align: center;
  font-size: 4rem;
  padding-top: 50px;
 transform: translate();
  
}

p{
  line-height: 120%;
  padding: 5px 15px;
  font-size: 1.4rem;
  
}

button{
  font-size: 1.2rem;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  width: 150px;
  padding: 5px 0;
  margin-left: 10px ;
  margin-top: 5px;
  
}

button:hover{
  background: white;
  color: black;
  font-weight: bold;
}


#Game{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}



#start{
  width: 150px;
  padding: 5px 0;
  margin-left: 10px ;
  margin-top: 5px;

}

#initGameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#level{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level button{
  height: 100px;
  width: 200px;
}



#startGameContainer{
  
  display: none;
  width: 100%;
}

.explain{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
}

#score{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 1.2rem
}

label{
  font-size: 1.2rem;
  width: 510px;
  
}

#displayResponsText{
  color: transparent;
}

.number{
  display: flex;
  flex-direction: column;
align-items: center;
}
#number{
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 510px;
  height: 25px;
  margin: 10px 0;
  font-size: 1.2rem;
}

.btnContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}

#try{
  margin: 10px 0;
}

#displayResponsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#displayRespons{
  margin: 10px 0;
}




#restart{
  display: none;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p{
    font-size: 1.2rem
  }

  #number{
    width: 80%;
  }

#startGameContainer{
  width: 80%;
}

#displayResponsText{
  width: 350px;
  text-align: center;
}



#level button{
  height: 100px;
  width: 150px;
}


label{
  
  width: 80%;
  
}
}

 
