@font-face {
  font-family: "Fresca";
  src: url(./fonts/Fresca-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Fresca";
  box-sizing: border-box;
  list-style-type: none;
}

body{
  background: #d6dee788;
  background: #d6dee7;
margin-bottom: 30px;

}

/* img{
  position: absolute;
  height: 100vh;
  width: 100%;
  opacity: 10%;
} */

h1{
  text-align: center;
  font-size: 4rem;
  padding-top: 50px;
}

#menu:hover{
  cursor: pointer;
}

#guess:hover{
  cursor: pointer;
}



p{
  line-height: 120%;
  padding: 5px 15px;
  font-size: 1.4rem;
  
}

button{
  font-size: 1.2rem;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  width: 150px;
  padding: 5px 0;
  margin-left: 10px ;
  margin-top: 5px;
  
}

button:hover{
  background: white;
  color: black;
  font-weight: bold;
}


#Game{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}



#start{
  width: 150px;
  padding: 5px 0;
  margin-left: 10px ;
  margin-top: 5px;

}

#initGameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}



#level{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level button{
  height: 100px;
  width: 200px;
}



#startGameContainer{
  
  display: none;
  width: 100%;
}

#showAnswerContainer{
  display: none;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;

}

.showAnswer{
  margin-top: 20px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.liste{
 margin-top: 10px;
 width: 100px;
 text-align: center;
 font-size: 1.2rem;
 text-decoration :line-through;
 
}


.explain{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
}

#score{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 1.2rem
}

label{
  font-size: 1.2rem;
  width: 510px;
  
}

#displayResponsText{
  color: transparent;
}

.number{
  display: flex;
  flex-direction: column;
align-items: center;
}
#number{
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 510px;
  height: 25px;
  margin: 10px 0;
  font-size: 1.2rem;
}

.btnContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}

#try{
  margin: 10px 0;
}

#displayResponsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#displayRespons{
  margin: 10px 0;
}




#restart{
  display: none;
  position: absolute;
  top: 24.5%;
  left: 49.5%;
  transform: translateX(-50%);
  margin: 20px 0;
}



@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  #guess{
    padding-top: 20px;
  }

  h2{
    font-size: 1.2rem;
  }

  p{
    font-size: 1.2rem
  }

  #number{
    width: 80%;
    margin-top: 10px;
  }

#startGameContainer{
  width: 80%;
}

#displayResponsText{
  width: 350px;
  text-align: center;
}
#displayResponsContainer{
  width: 350px;
  align-items: start;
  margin-top: 20px;
}



#level button{
  height: 100px;
  width: 150px;
}


label{
  
  width: 80%;
  
}

.showAnswer{
 display: flex;
  align-items: center; 
}

.liste{
  font-size: 1.1rem;
  max-width: 13%;
}

#score{
  margin-bottom: 10px;
  justify-content: center
}

#restart{
 
  top: 14.5%;
  left: 48.5%;
  transform: translateX(-50%);
  margin: 20px 0;
}



}

 
